<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.atpsimple.dao.mapper.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.tang.atpsimple.dao.po.Project">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="owner" jdbcType="INTEGER" property="owner" />
    <result column="app" jdbcType="VARCHAR" property="app" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="is_private" jdbcType="BIT" property="isPrivate" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
</mapper>